<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mondro_db"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_atlasmobilizer"
        android:supportsRtl="true"
        android:theme="@style/Theme.MondroDB"
        tools:targetApi="31">
        <activity
            android:name=".documentComponent.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".documentComponent.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".mainApp.DocumentActivity"
            android:exported="false" />
        <activity
            android:name=".mainApp.CollectionActivity"
            android:exported="false" />
        <activity
            android:name=".mainApp.DatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".mainApp.ConnectionActivity"
            android:exported="false" />
        <activity
            android:name=".StartUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainApp.LandingViewActivity"
            android:exported="false" />
    </application>

</manifest>